@model IEnumerable<ChatbotDashboard.Models.Chatbots>

@{
    ViewBag.Title = "ChatbotList";
}

<h2>ChatbotList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

Filter By Status:
@using (Html.BeginForm("FilterByStatus", "Chatbot", FormMethod.Post, new { id = "Form1" }))
{
    @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewData["lstitems"], "All", new { @id = "ddlStatus" })
}



<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
